@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --dark-void: #151419;
  --liquid-lava: #F56E0F;
  --gluon-grey: #1B1B1E;
  --slate-grey: #262626;
  --dusty-grey: #878787;
  --snow: #FBFBFB;
  overflow-x: hidden;
}




body{
  background: var(--dark-void);
}


.text-lava{
  color: var(--liquid-lava);
}

.text-snow{
  color: var(--snow)
}

.text-dusty-grey{
  color: var(--dusty-grey);
}

.bg-lava{
  background: var(--liquid-lava);
}

.bg-void{
  background: var(--dark-void);
}

.bg-slate{
  background: var(--slate-grey);
}

.bg-dust{
  background: var(--dusty-grey);
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l5 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5{
  0%    {inset:0    35px 35px 0   }
  12.5% {inset:0    35px 0    0   }
  25%   {inset:35px 35px 0    0   }
  37.5% {inset:35px 0    0    0   }
  50%   {inset:35px 0    0    35px}
  62.5% {inset:0    0    0    35px}
  75%   {inset:0    0    35px 35px}
  87.5% {inset:0    0    35px 0   }
  100%  {inset:0    35px 35px 0   }
}