@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --dark-void: #151419;
  --liquid-lava: #F56E0F;
  --gluon-grey: #1B1B1E;
  --slate-grey: #262626;
  --dusty-grey: #878787;
  --snow: #FBFBFB;
}




body{
  background: var(--dark-void);
}


.text-lava{
  color: var(--liquid-lava);
}

.text-snow{
  color: var(--snow)
}

.text-dusty-grey{
  color: var(--dusty-grey);
}

.bg-lava{
  background: var(--liquid-lava);
}

.bg-void{
  background: var(--dark-void);
}

.bg-slate{
  background: var(--slate-grey);
}

.bg-dust{
  background: var(--dusty-grey);
}